<ion-view title="Accounts">
  <ion-content class="">

    <div class="list">
      <ion-item ng-repeat="account in accounts" class="item-icon-right" href="/#/tab/spark/accounts/{{$index}}">
          <h2>{{account.email}}</h2>
          <p>{{account.access_token}}</p>
          <i class="icon ion-chevron-right"></i>

      </ion-item>

      <a class="item item-icon-left" ng-click="openModal()">
          <i class="icon ion-plus"></i>
          Add Account...
      </a>
    </div>

  </ion-content>
</ion-view>
