<ion-view title="Ionic Lamp">
  <ion-content class="padding">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>


    <div class="list">

      <div class="item item-icon-left item-icon-right" ng-click="openModal()">
        <i class="icon ion-ios-bolt"></i>
        Device: {{data.activeCore.name}}
        <p ng-show="data.activeCore.lastQuery">last seen: {{data.activeCore.lastQuery | date : "MMM d h:mm:ss a"}}</p>

        <span class="badge badge-dark"
              ng-show="data.activeCore && !data.activeCore.connected">
          Offline
        </span>
        <span class="badge badge-balanced"
              ng-show="data.activeCore && data.activeCore.connected">
          Online
        </span>
        <i class="icon ion-chevron-right" ng-show="!data.activeCore"></i>
      </div>


      <div class="item range range-assertive">
        <i class="icon ion-paintbucket assertive"></i>
        <input type="range" name="red" min="0" max="255" ng-model="data.color.r" on-release="updateDemo()">
        <p class="range-right-label">{{data.color.r}}</p>
      </div>

      <div class="item range range-balanced">
        <i class="icon ion-paintbucket balanced"></i>
        <input type="range" name="green" min="0" max="255" ng-model="data.color.g" on-release="updateDemo()">
        <p class="range-right-label">{{data.color.g}}</p>
      </div>

      <div class="item range range-positive">
        <i class="icon ion-paintbucket positive"></i>
        <input type="range" name="blue" min="0" max="255" ng-model="data.color.b" on-release="updateDemo()">
        <p class="range-right-label">{{data.color.b}}</p>
      </div>

      <div class="item item-divider">
            <button class="button button-full" style="color:#fff;background-color:rgba({{data.button.color.r}}, {{data.button.color.g}}, {{data.button.color.b}}, {{data.button.alpha}})" ng-click="onBrightnessChange()">Set Color</button>
      </div>

    </div>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">Pattern</div>
        <select>
          <option value="SOLID">Solid Color</option>
          <option value="RAINBOW">Rainbow</option>
          <option value="RAINBOW_CYCLE">Rainbow Cycle</option>
          <option value="XMAS">Christmas</option>
          <option value="CAORDA">Caorda</option>
        </select>
      </label>

      <div class="item range range-energized">
        <i class="icon ion-speedometer energized"></i>
        <input type="range" name="speed" min="0" max="255" ng-model="data.speed" on-release="onBrightnessChange()">
        <p class="range-right-label">Speed: {{data.speed}}</p>
      </div>

    </div>


  </ion-content>
</ion-view>
