<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Login Required</h1>
    <button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding" ng-controller="SparkSelectAcctCtrl">
    <div class="list">

      <ion-radio ng-repeat="acct in accounts"
                  ng-value="acct.access_token"
                  ng-model="accts.selected"
                  ng-checked="accts.selected">
        {{acct.email}}
        <p>{{acct.access_token}}</p>

      </ion-radio>

      <a href="/#/tab/spark/accounts" class="item item-icon-right item-icon-left" ng-show="!accounts.length" ng-click="closeModal()">
        <i class="icon ion-plus"></i>
        Add New Account
        <i class="icon ion-chevron-right"></i>
      </a>

      <button class="button button-full button-positive" ng-show="!loginComplete" ng-click="selectAccount()">
        Select Account
      </button>

      <div class="balanced message-error" ng-show="loginComplete">
        Login Success!
      </div>
      <button class="button button-full button-balanced" ng-show="loginComplete" ng-click="closeModal()">
        Close
      </button>

      <div class="assertive message-error" ng-show="settings.error">
        {{settings.error}}
      </div>

    </div>
  </ion-content>
</ion-modal-view>