<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Add Cores</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding"  ng-controller="SparkCoreModal">
    <div class="list">
      <label class="item item-input item-select">
        <span class="input-label">Account</span>
        <select ng-model="selectedAcct"
                ng-change="changeAcct()"
                ng-options="account.access_token as account.email for account in accounts"
          >
        </select>

      </label>

      <ion-checkbox ng-repeat="core in remoteDevices"
                    ng-model="core.selected"
                    ng-checked="core.selected">
        {{core.name}}
        <span class="badge badge-dark" ng-show="!core.connected">Offline</span>
        <span class="badge badge-balanced" ng-show="core.connected">Online</span>
      </ion-checkbox>

      <button class="button button-full button-positive" ng-click="addCores()">
        Add Cores
      </button>

			<div class="assertive button-error" ng-show="settings.error">
        {{settings.error}}
      </div>

    </div>
  </ion-content>
</ion-modal-view>